* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: whitesmoke;
}

.active {
  color: #1877f2 !important;
  background-color: transparent !important;
}
